@model WebApplication.Models.TaskModel

@{
    ViewData["Title"] = "Details";
}

<h2>Szczegóły zadania</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<div>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.TaskId }) |
    <a asp-action="Index">Wróć</a>
</div>
